body {
    background-image: url(images/kitchen.jpg);
    background-position: center;
}

.header {
    text-align: center;
}


.recipes {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.main_container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_container {
    font-size: 48px;
    font-family: "Smythe", sans-serif;
    display: flex;
    align-items: center;
    gap: 16px;
}

.recipes_container { 
    margin-top: 36px;
    display: flex;
    gap: 48px;
}

.lasagna_container,
.creolegumbo_container, 
.meatloaf_container {
    text-align: center;
    font-family: Smythe;
    font-size: 48px;
}

.food_image {
    border: 10px solid black;
    border-radius: 15%;
}

.credit_text {
    text-align: center;
    font-family: "Smythe", sans-serif;
    font-size: 24px;
    justify-self: flex-end;
    margin-top: 125px;
}